# API Protocol and Host
NEXT_PUBLIC_API_METHOD=http
NEXT_PUBLIC_API_HOST=localhost

# Microservices Ports
NEXT_PUBLIC_API_AUTH_PORT=3000
NEXT_PUBLIC_API_PRODUCT_PORT=3001
NEXT_PUBLIC_API_CART_PORT=3002
NEXT_PUBLIC_API_ORDER_PORT=3003
NEXT_PUBLIC_API_UPLOAD_PORT=3004
NEXT_PUBLIC_API_ASSET_PORT=3005

# Frontend Application Host & Port
NEXT_PUBLIC_HOST=localhost
NEXT_PUBLIC_PORT=8080

# Stripe Payment Integration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_sample_key_here
